.card-container {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  justify-content: flex-end; /* Aligns cards to the right side of the screen */
  gap: 20px; /* Adds spacing between cards */
  animation: slideIn 0.5s forwards;
  width: 70%; /* Adjust the width as needed */
  margin-left: auto;
}
.card-container {
  display: flex;

  margin-top: 35px; /* Reduced margin-top to decrease gap between components */
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  justify-content: flex-start; /* Aligns cards to the left side */
  gap: 10px; /* Reduced gap between cards */
  animation: slideIn 0.5s forwards;
  width: 52%; /* Adjust the width as needed */

  margin-left: auto;
}

.card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 25px;
  margin-left: 0; /* Removed margin-left for better alignment */
  margin-top: 10px; /* Reduced vertical margin between cards */
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow for larger cards */
  width: calc(50% - 10px); /* Two cards per row */
  height: 300px; /* Increased height */
  box-sizing: border-box;
}

.paper-card {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 600px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 2%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeIn 0.5s ease-in-out;
}


.paper-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.paper-icon {
  width: 15%;
  margin-right: 2%;
}

.paper-details {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.paper-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.paper-description {
  font-size: 1rem;
  color: #666;
  margin: 5px 0;
}

.paper-date {
  font-size: 0.9rem;
  color: #999;
}

.card:hover {
  transform: translateY(-10px); /* Higher lift on hover for larger cards */
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
