/* Home Container */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the right */
  justify-content: flex-start;
  padding: 30px 20px;
  background-color: #f7f7f7;
  min-height: 100vh;
  position: relative; /* Ensure positioning for absolute elements */
}


.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.card-title {
  position: relative;
  z-index: 1;
  font-size: 1.6em;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .card-container {
    gap: 20px;
  }
  .card {
    max-width: 300px;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .card-container {
    gap: 15px;
  }
  .card {
    max-width: 280px;
    height: 350px;
  }
}

@media (max-width: 480px) {
  .card-container {
    flex-direction: column;
    align-items: flex-end; /* Stack cards and align to the right on small screens */
    gap: 20px;
    right: 10px; /* Reduce right padding on smaller screens */
  }
  .card {
    width: 100%;
    max-width: 320px;
    height: auto;
  }
}
